
.Main__error {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #be0202;
  word-break: break-all;
}

.Main__wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 1rem 0;

  .Main__right {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    height: fit-content;
    min-width: 60%;
    min-height: 250px;
    padding: 16px 16px 32px 16px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

    .Main__right--buttonWrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 16px;
      grid-gap: 8px;

      button {
        font-size: 12px;
        padding: 0.25rem 0.5rem;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
          cursor: default;
        }
      }
    }

    .Main__right--ledContainer{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    .Main__right--container {
      display: flex;
      flex-direction: column;
      place-items: center;
      grid-gap: 1rem;
      width: 100%;
      height: 100%;
      padding: 16px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    }

    .Main__right--empty {
      display: flex;
      flex-direction: column;
      place-items: center;
      grid-gap: 1rem;
      width: 100%;
      padding: 16px;
      border-radius: 8px;
    }

    @keyframes pulse-opacity {
      0% {
        opacity: 0.75;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.75;
      }
    }

    @keyframes grow-in {
      0% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }

    .Main__right-absolute {
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      animation: pulse-opacity 1s infinite 1s;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 1rem 0;

    .Main__right {
      width: 100%;
      min-height: 300px;

      .Main__right--buttonWrapper {
        justify-content: center;
      }
    }
  }
}
