.Header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  place-items: center;
  padding: 0 2rem 0 2rem;
  height: 56px;
  max-height: 56px;
  min-height: 56px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: #fff;

  @media (max-width: 768px) {
    height: 48px;
    min-height: 48px;
    justify-content: center;
  }
}

.Header__wrapper {
  display: flex;
  align-items: center;
}

.Header__logo {
  @media (max-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.Header__title {
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 0.5rem;

  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}